 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kdam+Thmor+Pro&family=Oswald:wght@400;500;600&family=Pacifico&display=swap');
 
 .card-header {
    background-color: #198754;
    color: #fff;
    padding-top: 15px;
}

body {
    background-color: #34495e;
}

.preloader {
    height: 55px;
    width: 55px;
    margin: auto;
    display: none;
}